<% provide :title, t("static_pages.home.title") %>
<h1><%= t("sample_app") %></h1>
<p>
  <%= t "static_pages.home.sentence_1" %>
  <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/" %>
  <%= t "static_pages.home.sentence_2" %>"
</p>
