<h1><%= t "sample_app" %></h1>
<p><%= t "activation.hi", user_name: @user.name %></p>
<p><%= t "activation.welcome" %></p>
<%= link_to t("activation.activate"),
  edit_account_activation_url(@user.activation_token, email: @user.email) %>
