# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f6d72d19b3b0bbb4ccf58f7ec74d27c2e5ad6437f62ba99f31be7f95584b04306a45c9421f211bc0ac1d8b9d5d79b3d04deaa7d4b2e732fcd78389dd312fcb74

test:
  secret_key_base: ea81d3b81bba6791dc8b0dbaf8ff960f74dbfbf086e451bebd8446f9d2b9a9a4bcfd5ea472aa6fba7d309bbda03a514fd15c955cdc7d3850ee4cb27dae3e10c8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
